.select-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  select {
    width: 100%;
    height: var(--middle-size);
    margin: var(--min-size);
    border-radius: var(--border-min);
    background-color: var(--light-grey);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    margin: var(--min-size);
    padding-left: var(--min-size);

    &:active,
    &:focus {
      outline: none !important;
    }

    &:focus {
      border: 1px solid var(--input-dark);
    }

    option {
      appearance: none;
      -webkit-appearance: none;

      &:focus {
        background: var(--middle-blue);
        color: var(--light-grey);
      }
    }
  }
}
