<div class="posts-container">
  <div class="posts-title">
    <p>{{ title }}</p>
  </div>
  <ul class="post-list">
    <li
      *ngFor="
        let post of posts | slice : (page - 1) * pageSize : page * pageSize
      "
      class="post-item"
    >
      <p class="post-title">{{ post.title }}</p>
      <p>{{ post.body }}</p>
      <div class="post-tags">
        <p class="post-title">{{ tagsTitle }}</p>
        <p *ngFor="let tag of post.tags" appSelected selectedTag="{{ tag }}">
          {{ tag }}
        </p>
      </div>
    </li>
  </ul>
  <app-pagination
    class="pgn"
    [page]="page"
    [pageSize]="pageSize"
    (changedPage)="onChangePage($event)"
  ></app-pagination>
</div>
