/* You can add global styles to this file, and also import other style files */
:root {
  --dark-grey: #dee2ec;
  --deep-dark-grey: #8c92a1;
  --light-grey: #f7faff;
  --dark-blue: #060c1b;
  --input-dark: #556285;
  --middle-blue: #626a80;

  --common-size: 1rem;
  --min-size: 0.5rem;
  --max-size: 3rem;
  --middle-size: 2rem;

  --border-min: 5px;
}

* {
  box-sizing: border-box;
}
